.cookie_notice{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: mediumvioletred;
}

#accept{
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    background: white;
    color: mediumvioletred;
    display: inline-block;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

#accept:hover{
    cursor: pointer;
    background: rgb(199, 191, 191);
}